<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

 	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] %p %c{1} - %m%n" />
        </layout>
    </appender>

    <appender name="ROLL" class="org.apache.log4j.rolling.RollingFileAppender">
		<!-- The active file to log to -->
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />

		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="./logs/ferlenco.log" />
			<param name="FileNamePattern" value="./logs/ferlenco.%d.log" />
		</rollingPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The log message pattern -->
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %p %c{1} - %m%n" />
		</layout>
	</appender>

    <category name="com.ferlenco">
        <priority value="DEBUG" />
    </category>

    <root>
        <priority value="WARN" />
        <appender-ref ref="ROLL" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
